.spotify-logo {
    max-width: 100%;
    height: 100%;

}

.spotify-logo path {
    fill: #1DB954;
}

.yt-logo {
    max-width: 100%;
    height: 100%;
}

.yt-logo path {
    fill: #FF0000;
}

.followers-logo {
    max-width: 100%;
    height: 100%;
}

.followers-logo path {
    fill: #fff;
}

.profile-logo {
    max-width: 100%;
    height: 100%;
}

.profile-logo path {
    fill: #1A1A1A;
}
.user-dp {
    height: 100%;
    border-radius: 10px;
}


.email-logo {
    max-width: 100%;
    height: 100%;
}

.email-logo path {
    fill: #fff;
}

.country-logo {
    max-width: 100%;
    height: 100%;
}

.country-logo path {
    fill: #fff;
}

.transfer-logo {
    max-width: 100%;
    height: 100%;
    background-color: #1A1A1A;

    cursor: pointer;
}

