
  

.homepage {
    
    justify-content: center;
    display: flex;
    flex-direction:column ;
    animation: down 0.7s forwards ease-in ;

}


@keyframes down {
    0% {

      transform: translatey(-1em);
      opacity: 0 ;
    }
    50% {

      transform: translatey(-0.5em);
      opacity: 0.8;
    }
    100% {

      transform: translatey(0em);
    }
  }

.homepage-logo-container {

    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}




.homepage-logo {
    max-height: 100%;
    max-width: 100%;
    margin: 0;


}

.homepage-title {
    color:#840C96 ;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-top: -5rem ;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-size: 1.3rem;
}

.btn-start {
    padding: 1rem 5rem;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    transition: padding 0.5s;
    box-shadow: 2px 31px 49px -15px rgba(0,0,0,0.75);


}

.btn-start a {
    text-decoration: none;
    color: white;

}

.btn-start:hover {
    padding: 0.8rem 3rem;
    box-shadow: 2px 31px 43px 1px rgba(0,0,0,0.75);

}